/**
 * HTML5 reset
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: arial;
    font-size: inherit;
    line-height: 100%;
    vertical-align: middle;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    /*
     min-height: 600px;
     min-width: 800px;
     */
    color: #818181;
    background-color: #0e0e0e;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * main styles begin below
 */
.round {
    -moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-o-border-radius: .3em;
	-border-radius: .3em;
}

.inset {
    position: absolute;
    top: 0px;
    left: 0px;
    -moz-border-image: url("img/inset_round.png") 30 30 stretch; /* Firefox */
    -webkit-border-image: url("img/inset_round.png") 30 30 stretch; /* Safari and Chrome */
    -o-border-image: url("img/inset_round.png") 30 30 stretch; /* Opera */
    -border-image: url("img/inset_round.png") 30 30 stretch;
}

.outset {
    position: absolute;
    top: 0px;
    left: 0px;
    -moz-border-image: url("img/outset_round.png") 30 30 stretch; /* Firefox */
    -webkit-border-image: url("img/outset_round.png") 30 30 stretch; /* Safari and Chrome */
    -o-border-image: url("img/outset_round.png") 30 30 stretch; /* Opera */
    -border-image: url("img/outset_round.png") 30 30 stretch;
}

.outerglow {
    position: absolute;
    top: 0px;
    left: 0px;
    -moz-border-image: url("img/outer_glow.png") 30 30 stretch; /* Firefox */
    -webkit-border-image: url("img/outer_glow.png") 30 30 stretch; /* Safari and Chrome */
    -o-border-image: url("img/outer_glow.png") 30 30 stretch; /* Opera */
    -border-image: url("img/outer_glow.png") 30 30 stretch;
}

.outerglow.round {
    position: absolute;
    top: 0px;
    left: 0px;
    -moz-border-image: url("img/outer_glow_round.png") 60 60 stretch; /* Firefox */
    -webkit-border-image: url("img/outer_glow_round.png") 30 30 stretch; /* Safari and Chrome */
    -o-border-image: url("img/outer_glow_round.png") 30 30 stretch; /* Opera */
    -border-image: url("img/outer_glow_round.png") 30 30 stretch;
}

.innershadow {
    position: absolute;
    top: 0px;
    left: 0px;
    -moz-border-image: url("img/inner_shadow.png") 30 30 repeat; /* Firefox */
    -webkit-border-image: url("img/inner_shadow.png") 30 30 repeat; /* Safari and Chrome */
    -o-border-image: url("img/inner_shadow.png") 30 30 repeat; /* Opera */
    -border-image: url("img/inner_shadow.png") 30 30 repeat;
}

.innershadow.round {
    position: absolute;
    top: 0px;
    left: 0px;
    -moz-border-image: url("img/inner_shadow_round.png") 30 30 repeat; /* Firefox */
    -webkit-border-image: url("img/inner_shadow_round.png") 30 30 repeat; /* Safari and Chrome */
    -o-border-image: url("img/inner_shadow_round.png") 30 30 repeat; /* Opera */
    -border-image: url("img/inner_shadow_round.png") 30 30 repeat;
}

.outershadow {
    position: absolute;
    top: 0px;
    left: 0px;
    -moz-border-image: url("img/outer_shadow.png") 30 30 repeat; /* Firefox */
    -webkit-border-image: url("img/outer_shadow.png") 30 30 repeat; /* Safari and Chrome */
    -o-border-image: url("img/outer_shadow.png") 30 30 repeat; /* Opera */
    -border-image: url("img/outer_shadow.png") 30 30 repeat;
}

/**
 * layout styles begin below
 */
.outer {
    position: absolute;
    background-color: #2f2f2f;
    margin: 1.5em;
    padding: .7em;
}

.left {
    background-color: #383838;
    float: left;
    width: 70%;
    overflow: hidden;
}

.right {
    float: right;
    width: 30%;
}

.right .layout {
    margin-left: .7em;
}

/**
 * elements style begin below
 */
.header {
    border-bottom: .1em solid #818181;
}

.header.standalone {
    border-bottom: none;
}

.header .text {
    line-height: 200%;
    font-size: 75%;
    font-weight: bold;
    text-align: right;
    text-shadow: 0 0 .5em #000000;
    white-space: nowrap;
}

.element.project {
    margin: .5em 0 0 0;
}

.element.projectname .text, .element.projectprogress .text, .element.projectdeadline .text, .element.projectusers .text {
    padding: 0 .7em;
    color: #ffffff;
    line-height: 200%;
    font-size: 75%;
    font-weight: bold;
    text-align: right;
    text-shadow: 0 0 .5em #000000;
    text-transform: uppercase;
    white-space: nowrap;
}

.projectname {
    display: inline-block;
    width: 9em;
    margin: 0 0 0 .5em;
    overflow: hidden;
}

.projectname .inset {
    border: .3em;
    opacity: .5;
}

.projectprogress {
    display: inline-block;
    width: 15em;
    margin: 0 0 0 .5em;
    overflow: hidden;
}

.projectprogress .inset {
    border: .3em;
    opacity: .5;
}

.projectprogress .outset {
    border: .3em;
    opacity: .5;
}

.projectprogress .bar {
    min-width: 1em;
    text-align: right;
}

.projectdeadline {
    display: inline-block;
    width: 5em;
    margin: 0 0 0 .5em;
    text-align: center;
    overflow: hidden;
}

.projectdeadline .inset {
    border: .3em;
    opacity: .5;
}

.projectusers {
    display: inline-block;
    width: 9em;
    margin: 0 0 0 .5em;
    text-align: center;
}

.projectusers .gravatar {
    display: inline-block;
    margin: 0 .2em .2em;
}

.projectusers img {
    height: 1.5em;
    width: 1.5em;
}

.projectusers .outershadow {
    border: .5em;
    margin: -.4em -.6em -.6em -.4em;
    opacity: .5;
}

.element.calendar {
    color: #ffffff;
    background-color: #0e0e0e;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    margin: 0 0 .7em;
}

.calendar .time {
    margin: -0.1em -50% -0.15em;
    font-size: 700%;
}

.calendar .date {
    margin: -0.15em -50% -0.1em;
    font-size: 200%;
}

.calendar .innershadow {
    border: 2em;
    opacity: .9;
}

.messages {	
    height: 50%;
	overflow: hidden;
    position: absolute;
    bottom: 0;
}

.messages .inset {
    border: .3em;
    opacity: .5;
}

.message {	
	margin: .5em;
}

.message .text {
    color: #ffffff;
    line-height: 200%;
    font-size: 50%;
    text-align: right;
}
