<div class="outer full">
	<div class="left fullh">
		<div class="project">
			<div class="name" style="display:inline-block;width:20%">
				<div class="inset full" style="width:100%;"></div>
				<span>site.ru site.ru site.ru site.ru site.ru</span>
			</div>
			<div class="progress test" style="display:inline-block;width:50%">
				<div class="inset full" style="width:101%;"></div>
				<div class="bar round green" style="width:33%">
					<span>33%</span>
					<div class="outset round full"></div>
				</div>
			</div>
			<div class="users" style="display:inline-block;width:20%">
				<div class="gravatar">
					<img src="https://secure.gravatar.com/avatar/dbb17b1a40d86df9e28c38023a2df6bc"/>
					<div class="outerglow full"></div>
				</div>
				<div class="gravatar">
					<img src="https://secure.gravatar.com/avatar/dbb17b1a40d86df9e28c38023a2df6bc"/>
					<div class="outerglow full"></div>
				</div>
				<div class="gravatar">
					<img src="https://secure.gravatar.com/avatar/dbb17b1a40d86df9e28c38023a2df6bc"/>
					<div class="outerglow full"></div>
				</div>
				<div class="gravatar">
					<img src="https://secure.gravatar.com/avatar/dbb17b1a40d86df9e28c38023a2df6bc"/>
					<div class="outerglow full"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="right fullh">
		<div class="layout fullh">
			<div class="calendar">
				<div class="time">22:22</div>
				<div class="date">чт, 7 апреля 1983</div>
				<div class="innershadow full"></div>
			</div>
		</div>
	</div>
</div>
